.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(228, 221, 214);

  .contentBox {
    padding: 30px;
    width: 350px;
    height: 600px;
    background-color: rgb(166, 184, 139);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 2px 2px 3px rgb(145, 148, 139);
    position: relative;
  }

  .addBtn {
    background-color: rgb(255, 247, 231);
    color: rgb(86, 95, 75);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 24px;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px rgb(145, 148, 139);
    cursor: pointer;
    right: 12%;
    position: absolute;
  }
  .personNum {
    color: rgb(255, 247, 231);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 12%;
    top: 15%;
  }
  .listBox {
    background-color: rgb(255, 247, 231);
    border-radius: 12px;
    width: 90%;
    height: 70%;
    margin-top: 160px;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;

      li {
        width: 90%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 16px;
        }

        .btnBox {
          button {
            border: none;
            border-radius: 3px;
            padding: 3px 8px;
            cursor: pointer;
          }
          .editBtn {
            background-color: rgb(245, 181, 211);
          }
          .deleteBtn {
            margin-left: 10px;
            background-color: rgb(247, 210, 141);
          }
        }
      }
    }
  }
  .popupBox {
    display: none;
  }
  .popupBox.show {
    position: absolute;
    background-color: rgba(17, 17, 17, 0.767);
    top: 40%;
    width: 280px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 2px rgb(145, 148, 139);
    .popupTitle {
      margin-top: 30px;
      color: rgb(255, 247, 231);
      font-weight: bold;
      font-size: 18px;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      input {
        padding: 5px;
        border-radius: 3px;
        border: none;
        margin-bottom: 10px;

        &:focus {
          border: none;
        }
      }
      .saveBtn {
        padding: 5px;
        border-radius: 3px;
        border: none;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
    .closeBtn {
      color: white;
      position: absolute;
      right: 9%;
      cursor: pointer;
    }
  }
}
