html,
body {
  margin: 0;
  height: 90vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 28px;
    font-weight: bold;
  }

  .contentBox {
    display: flex;
    margin-top: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      img {
        width: 250px;
        margin: 20px;
      }
    }
  }
}
